{% load static %}

<div class="col-md-6 col-md">
    <div class="col-1">
        <a href="single.html" class="b-link-stroke b-animate-go  thickbox">
            <img src="{% static 'images/hdlg.jpg' %}" class="img-responsive" alt=""/>
            <div class="b-wrapper1 long-img">
                <p class="b-animate b-from-right    b-delay03 ">Need something</p>
                <label class="b-animate b-from-right    b-delay03 "></label>
                <h3 class="b-animate b-from-left    b-delay03 ">massage table</h3>
            </div>
        </a>

        <!---<a href="single.html"><img src="images/pi.jpg" class="img-responsive" alt=""></a>-->
    </div>
    <div class="col-2">
        <span>Hot Deal</span>
        <h2><a href="single.html">Luxurious &amp; Trendy</a></h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years</p>
        <a href="single.html" class="buy-now">Buy Now</a>
    </div>
</div>
<div class="col-md-6 col-md1">
    <div class="col-3">
        <a href="single.html"><img src="{% static 'images/hd_hot_stones.jpg' %}" class="img-responsive" alt="">
        <div class="col-pic">
            <p>Hot Stones & Candles</p>
            <label></label>
            <h5>your spa accessories</h5>
        </div></a>
    </div>
    <div class="col-3">
        <a href="single.html"><img src="{% static 'images/hd_massage_bed.jpg' %}" class="img-responsive" alt="">
        <div class="col-pic">
            <p>Portable Massage Beds</p>
            <label></label>
            <h5>For You on the go</h5>
        </div></a>
    </div>
    <div class="col-3">
        <a href="single.html"><img src="{% static 'images/hd_body_care.jpg' %}" class="img-responsive" alt="">
        <div class="col-pic">
            <p>Beauty supplies</p>
            <label></label>
            <h5>For Women</h5>
        </div></a>
    </div>
</div>
<div class="clearfix"></div>