{% load static %} {% load home_tags %} {% load product_tags %} {% page_head title='Detail |page'%}
<link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--header-->
{% site_menu %}
<!--/header-->

<!--banner-->
<div class="banner-top">
    <div class="container">
        <h1>Product Detail</h1>
        <em></em>
        <h2>
            <a href="/index/">Home</a>
            <label>/</label>{{cat}}
            <label>/</label>
            <a href="/product/{{cat}}/{{subcat}}">{{subcat}}</a>
            <label>/</label>{{product}}</h2>
    </div>
</div>
<!--content-->
{% product_detail product_item=item %}
<!--//content-->
<!--//footer-->
{% page_footer %}
<!--//footer-->
<script src="{% static 'js/imagezoom.js' %}"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />

<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>
</body>

</html>