{% load static %} {% load home_tags %} {% load product_tags %} {% page_head title='product|page'%}
<link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'js/jquery.loadingbar.js' %}"></script>
<link href="{% static 'css/loadingbar.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
	<!--header-->
	{% site_menu %}
	<!--/header-->

	<!--banner-->
	<div class="banner-top" style="background: url(/media/{{submenu.bannerImage}})no-repeat;">
		<div class="container banner-info">
			<div class="info">
					<h1 class="category" data-crumbs='{"category":"{{category}}","sub":"{{subcategory}}"}'>{{subcategory}}</h1>					
					{% product_type menucat=subcategory %}        
				</div>
			</div>
			
	</div>
	<!--//banner-->
	<!--content-->
	<div class="product">
		<div class="container">
			<div class="filter_breadcrumbs hide"></div>
			<div class="clearfix"></div>
			{% product_filters submenu=subcategory maincat=category afilters=activeFilters %}
			<div class="col-md-9">
				<div class="mid-popular item_result_holder">
					{% for item in itemlist %} {% product_item product=item mdsize=4 gridnum=1 %} {% endfor %}
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
	<!--//content-->
	{% page_footer %}
	<script src="{% static 'js/filter.controller.js' %}"> </script>
	<script>
			$(document).ready(function (res) {
			   $('.flink').flink({csrf:'{{csrf_token}}', subCategory: '{{subcategory}}'})
			})
		   </script>
</body>
</html>