{% load static %} {% load home_tags %} {% load product_tags %} {% page_head title='Registation | register user '%}

<body>
    <!--header-->
    {% site_menu %}
    <!--/header-->

    <!--banner-->
    <div class="banner-top" style="height: 200px;">
        <div class="container">
            <h1>Whishlist</h1>
            <h2>
                <a href="/index/">Home</a>
                <label>/</label>Wishlist</h2>
        </div>
    </div>

    <div class="container">
        <div class="wishlist">
            <h6>
                <a href="#">Product Name</a>
                <a href="#">Unit Price</a>
                <a href="#">Stock Status</a>
            </h6>
            <p>No products were added to the wishlist</p>
        </div>
    </div>
    <div style="height: 50px;"></div>
    {% page_footer %}
</body>

</html>