{% load static %}
{% load home_tags %}
{% load humanize %}

<div class="col-md-{{md_size}} item-grid{{grid_num }} simpleCart_shelfItem">
        <div class=" mid-pop">
        <div class="pro-img">
            <img src="/media/{{ item.image }}" class="img-responsive" alt="">
            <div class="zoom-icon ">
            <a class="picture" href="/media/{{ item.image }}" rel="title" class="b-link-stripe b-animate-go  thickbox">
                <i class="glyphicon glyphicon-search icon "></i>
            </a>
            <a href="{{item.name|ampersand}}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
            </div>
            </div>
            <div class="mid-1">
            <div class="women">
            <div class="women-top">
                <span>{{item.submenu.category.name}}</span>
                <h6><a href="{{item.name|ampersand}}">{{item.name}}</a></h6>
                </div>
                <div class="img item_add">
                    <a href="#"><img src="{% static 'images/ca.png' %}" alt=""></a>
                </div>
                <div class="clearfix"></div>
                </div>
                <div class="mid-2">
                    <p >
                        {% if item.promoitem %}
                        <label>${{item.price}}</label>
                        <em class="item_price">{{ item.price |peramount:item.promopercentage }}</em>
                        {% else %}
                        <em class="item_price">{{ item.price }}</em>
                        {% endif %}
                    </p>
                    <br>
                      <div class="block">
                        <div class="starbox small ghosting" data-start-value = {{ item.ratings | percentage }}></div>
                    </div>
                    
                    <div class="clearfix"></div>
                </div>
                
            </div>
        </div>
        </div>

        <script>
            simpleCart({
	checkout: { 
		type: "PayPal" , 
		email: "kayheslop@gmail.com" 
	},
	tax: 		0.075,
	currency: 	"EUR"
});
        </script>